Pods
Pods/NeuraSDKFramework
MedicatioNeura.xcodeproj/xcuserdata/youvalvaknin.xcuserdatad/xcschemes/MedicatioNeura.xcscheme
MedicatioNeura.xcodeproj/xcuserdata/youvalvaknin.xcuserdatad/xcschemes/xcschememanagement.plist
MedicatioNeura.xcworkspace/xcuserdata/youvalvaknin.xcuserdatad/UserInterfaceState.xcuserstate
